// Specific CSS for your home-page
:root, body{
  background-color: white !important;
}


.home-portrait img{
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.name{
  font-weight: bold;
  font-size: 48px;
}

.headline span{
  font-size: 24px;
}

p{
  font-size: 20px;
}

.social{
  font-size: 2rem;
}
// about section

.about-portrait img{
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.rounded-card{
  width:145px;
  height: 145px;
  margin: auto;
  padding: 30px 0;
}

.about-icon{
  font-size: 25px;
}


.stacks-section img, .manager-section img{
  height: 135px;
  width: 135px;
}

.management-skills{
  height: 160px;
  width: 160px;
}

.services-developer-section, .services-manager-section{
  height: 355px;
  width: 415px;
  font-size: 20px;
}

.services-icon{
  font-size: 4rem;
}

.portfolio-card{
  width: 340px;
  height: 335px;
}
.portfolio-card img{
  height: 193px;
  width: 295px;
  margin: auto;
  display: block;
}

.arrow:hover{
  font-size: 18px
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */

  .container{
    overflow-x: hidden;
  }

  .navbar-email{
   display: none;
  }
  //about
  .rounded-card{
    width:100px;
    height: 100px;
    margin: auto;
    padding: 17px 0;

  }
  .about-icon{
    font-size: 20px;
  }

  .experiences{
    display: flex;

  }
  .rounded-card h4, .rounded-card span{
    font-size: 15px;
  }

  //skills
  .stacks-section img{
    height: 125px;
    width: 125px;
  }

  .manager-section{
    display: flex;
    justify-content: space-around;
  }

  .management-skills{
    height: 100px;
    width: 100px;
  }
  .management-skills h5{
    font-size: 15px;
  }

  .manager-section img{
    height: 85px;
    width: 85px;
  }

   .services-developer-section, .services-manager-section{
    width: 340px;
    height: 335px;
    margin: 35px auto;
    font-size: 17px;
}

.portfolio-card{
  margin: auto
}



}


@media (max-width: 720px) {
  .navbar-email{
    display: none;
   }
  .container{
    overflow-x: hidden;
  }

  .rounded-card{
    width:80px;
    height: 80px;
    margin: auto;
    padding: 15px 0;

  }
  .about-icon{
    font-size: 20px;
  }

  .experiences{
    display: flex;

  }
  .rounded-card h4, .rounded-card span{
    font-size: 12px;
  }

  .home-portrait img{
    width: 350px;
    height: 350px;
    object-fit: contain;
  }
  .about-portrait img{
    width: 350px;
    height: 350px;
    object-fit: contain;
  }
}
