.navbar-lewagon {
  justify-content: space-between;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-email{
  text-decoration: none;
  color: var(--bs-heading-color);
}
.nav-item{
  font-size: 25px;
  margin: 0 12px 0 13px;
}
